---
layout: single
title: Co-authors
permalink: /coauthors/
author_profile: true
classes: wide
---


<h2>Co-authors</h2>

{% assign coauthors = {} %}

{% for pub in site.data.pubs %}
  {% for a in pub.authors %}
    {% assign is_self = a.first | downcase | append: " " | append: a.last | downcase %}
    {% if is_self != "niels holtgrefe" %}

      {% assign name = a.first %}

      {% if a.middle %}
        {% for m in a.middle %}
          {% assign name = name | append: " " | append: m | append: "." %}
        {% endfor %}
      {% endif %}

      {% if a.tussenvoegsel %}
        {% assign name = name | append: " " | append: a.tussenvoegsel %}
      {% endif %}

      {% assign name = name | append: " " | append: a.last %}

      {% assign current = coauthors[name] | default: 0 %}
      {% assign current = current | plus: 1 %}
      {% assign coauthors = coauthors | merge: {{ name | jsonify }}: {{ current }} %}
    {% endif %}
  {% endfor %}
{% endfor %}

{% assign coauthor_array = "" %}
{% for key in coauthors %}
  {% assign coauthor_array = coauthor_array | append: key[0] | append: "||" | append: key[1] | append: ";;" %}
{% endfor %}

{% assign sorted = coauthor_array | split: ";;" | sort_natural: "desc" %}

<ul>
  {% for entry in sorted %}
    {% if entry != "" %}
      {% assign parts = entry | split: "||" %}
      <li>{{ parts[0] }} (x {{ parts[1] }})</li>
    {% endif %}
  {% endfor %}
</ul>

