<div class="pub-entry">
  <span class="pubnum">[{{ pub.pubnum }}]</span>
  <span class="authors">{{ pub.authors | join: ", " }}</span><br>
  <span class="title">{{ pub.title }}</span><br>
  <span class="info">
    <i>{{ pub.type }}</i>{% if pub.year %}, {{ pub.year }}{% endif %}.
    {% if pub.pubinfo %} {{ pub.pubinfo }}{% endif %}
  </span><br>

  <!-- Example toggle buttons (optional) -->
  <div class="button-group">
    {% if pub.preprint-url %}
      <a class="link-button" href="{{ pub.preprint-url }}" target="_blank">preprint</a>
    {% endif %}
    {% if pub.abstract %}
      <button class="toggle-button" onclick="toggleBox('abs_{{ pub.pubnum }}')">abstract</button>
    {% endif %}
    {% if pub.bibtex %}
      <button class="toggle-button" onclick="toggleBox('bib_{{ pub.pubnum }}')">bibtex</button>
    {% endif %}
  </div>

  {% if pub.abstract %}
  <div id="abs_{{ pub.pubnum }}" class="abstract-box noshow">{{ pub.abstract }}</div>
  {% endif %}

  {% if pub.bibtex %}
  <div id="bib_{{ pub.pubnum }}" class="bibtex noshow"><pre>{{ pub.bibtex }}</pre></div>
  {% endif %}
</div>
